@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-default: 'DM Sans', sans-serif;
  /* --font-default: 'Inter'; */
  --focus-outline-color: theme(colors.primary.DEFAULT / 50%);
}

@layer base {
  body {
    /* font-family: var(--font-ui), system-ui, sans-serif; */
    @apply font-['var(--font-default),system-ui,sans-serif'] text-black  dark:text-gray-200;
  }
  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    /* @apply font-medium; */
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  img {
    @apply dark:brightness-90;
  }
}
@layer components {
  .font-ui {
    font-family: var(--font-default);
  }
  .mask-image {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      /* rgba(0, 0, 0, 1) 30%, */ transparent 100%
    );
  }
  .layout-pt {
    @apply pt-8;
  }
  .layout-py {
    @apply py-8;
  }
  .layout-px {
    @apply px-4 md:px-9;
  }

  .sider-item {
    @apply mx-5 rounded-lg px-4 py-3 tracking-wide;
  }
  .sider-item-svg svg {
    @apply h-5 w-5;
  }
  .sider-item-gray {
    @apply flex-1 transition-colors hover:bg-gray-100/70 dark:hover:bg-gray-700/70;
  }

  .drop-down-item {
    @apply flex-1 rounded-lg px-3 py-2 transition-colors hover:bg-gray-100/70 dark:hover:bg-gray-700/70;
  }

  .label {
    @apply mb-2 font-medium text-black dark:text-gray-200;
  }
  .label-required {
    @apply mb-2 block font-medium text-black after:text-red-500 after:content-['*'] dark:text-gray-200;
  }
  .input {
    @apply rounded-lg border bg-white p-2 text-inherit outline-focus-outline dark:border-gray-500 dark:bg-dark-gray;
  }
  .input-error {
    @apply border-red-500 bg-red-50 text-red-500 outline-red-500 dark:border-red-400 dark:bg-red-800/10 dark:text-red-400 dark:outline-red-400;
  }

  /** button size **/
  .btn-sm {
    font-family: var(--font-default);
    @apply flex items-center justify-center rounded-lg px-4 py-2;
  }
  .btn-md {
    font-family: var(--font-default);
    @apply flex items-center justify-center rounded-lg px-4 py-3;
  }
  .btn-lg {
    font-family: var(--font-default);
    @apply flex items-center justify-center rounded-lg px-5 py-4;
  }
  /** button style **/
  .btn-secondary {
    @apply bg-primary font-medium text-inherit transition-colors hover:bg-primary/90 disabled:bg-gray-200 disabled:text-gray-400
    dark:bg-primary-dark dark:disabled:bg-gray-700 dark:disabled:text-gray-400;
  }
  .btn-primary {
    @apply bg-secondary text-white transition-colors disabled:bg-gray-500 disabled:text-gray-200 dark:bg-secondary-dark dark:text-black dark:disabled:bg-gray-600 dark:disabled:text-gray-400;
  }
  .btn-gray {
    @apply bg-gray-100 text-black transition-colors hover:bg-gray-200/80 dark:bg-gray-600 dark:text-gray-200 dark:hover:bg-gray-500/80;
  }
  .btn-border {
    @apply border border-primary bg-white font-medium text-inherit hover:bg-primary/10 disabled:cursor-not-allowed disabled:text-gray-400 disabled:hover:border-gray-200
    dark:bg-dark-gray dark:hover:bg-primary-dark/20;
  }
  .btn-ghost {
    @apply text-black disabled:cursor-not-allowed disabled:text-gray-400 dark:text-gray-200 dark:disabled:text-gray-500;
  }
  .btn-successful {
    @apply bg-green-600 font-medium text-white;
  }

  /** icon button size **/
  .icon-btn-sm {
    @apply flex items-center justify-center gap-1  p-2;
  }
  .icon-btn-md {
    @apply flex h-12 w-12 items-center justify-center;
  }
  /** icon button style **/
  .icon-btn-float {
    @apply rounded-full bg-white text-black shadow-md transition-all hover:text-primary;
  }
  .icon-btn-ui {
    @apply rounded-full  text-gray-400 transition-colors hover:bg-gray-200/70 dark:hover:bg-dark-gray;
  }
  .icon-btn-square {
    @apply rounded-lg bg-white text-black transition-colors hover:bg-gray-200 dark:bg-gray-200 dark:hover:bg-gray-300;
  }

  /** link **/
  .link {
    @apply text-blue-600 dark:text-blue-400;
  }

  /** card **/
  .content-card {
    @apply h-full w-full rounded-3xl border border-gray-50 bg-white 
    px-5 py-4
    shadow-2xl shadow-gray-300/50 dark:border-gray-700 dark:bg-dark-gray dark:shadow-black md:px-9 md:py-8;
  }

  /** svg **/
  .svg-sm {
    @apply h-5 w-5;
  }
  .svg-md {
    @apply h-6 w-6;
  }
  .svg-lg {
    @apply h-8 w-8;
  }
  .svg-gray {
    @apply fill-gray-400;
  }
  .svg-neutral {
    @apply fill-black dark:fill-gray-200;
  }
}
@layer utilities {
}
